.navbar{
    width:100%;
    height:75px;

    position:fixed;
    top:0;
    left:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 8%;

    background:rgba(15, 10, 35, 0.55);
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(187,143,255,0.2);
    box-shadow:0 10px 40px rgba(78, 38, 165, 0.12);

    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
    letter-spacing:2px;
    color:var(--text);
}

.blue{
    color:var(--accent);
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:var(--text);
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--accent);
    text-shadow:
        0 0 12px rgba(200,156,255,0.5),
        0 0 24px rgba(165,102,255,0.25);
}
